sqlalchemy==1.4.47
snowflake-sqlalchemy
langchain==0.0.344
sqlalchemy-aurora-data-api
PyAthena[SQLAlchemy]==2.25.2
anthropic
redshift-connector==2.0.910
sqlalchemy-redshift==0.8.14
streamlit==1.28.0
pandas==1.5.3
Pillow==9.4.0
streamlit==1.24.0
torch==1.13.1
torchvision==0.14.1
langchain_experimental
sentence-transformers
chromadb

